@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
.img-fluid {
  border-radius: 5px;
}

* {
  font-family: "Righteous", cursive;
}

body {
  background-image: url("../img/background.jpg");
}

.carta {
  border-radius: 10px;
  width: 144px;
  height: 200px;
}

/*.contenedorCartas {
  display: grid;
  grid-template-columns: 144px 144px 144px 144px 144px;
  grid-template-rows: 200px 200px 200px;
  grid-gap: 10px;
  justify-content: center;
  margin-right: 10px;
}*/
.cabecera {
  height: 100px;
}
.cabecera img {
  height: 100px;
}

.tablas table {
  height: 100px;
  width: 300px;
  text-align: center;
  background-color: rgba(110, 17, 17, 0.548);
  border-radius: 20px;
}

.mensajes {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100px;
  justify-content: space-around;
}

/*.juego {
  @include flex;
  justify-content: space-around;

}*/
.informacion {
  height: 500px;
  text-align: center;
  border-radius: 10px;
  background-image: url("../img/fondo.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid black;
  overflow: auto;
}

.informacion::-moz-selection {
  color: red;
  /**Este tipo de letra ya se encuentra en negrita por defecto por lo que no se puede poner en negrita*/
}

.informacion::selection {
  color: red;
  /**Este tipo de letra ya se encuentra en negrita por defecto por lo que no se puede poner en negrita*/
}

.footer {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100px;
  justify-content: space-around;
  color: whitesmoke;
  margin-top: 20px;
  background: #778399;
  background: linear-gradient(90deg, rgba(119, 131, 153, 0.6418942577) 0%, rgba(62, 2, 2, 0.6026785714) 50%, rgba(52, 66, 69, 0.599877451) 100%);
  border-radius: 300px;
}

.invisible {
  display: none;
}

.sombreado {
  box-shadow: 11px 11px 15px 5px #000000, -5px -5px 15px 5px #3B3B3B;
}

#minititle {
  display: none;
}

@media (max-width: 1024px) {
  .contenedorCartas {
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 180px 180px 180px 180px;
  }

  body {
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .contenedorCartas {
    grid-template-columns: 108px 108px;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
  }

  .informacion {
    width: 300px;
    height: 375px;
  }

  body {
    background-size: cover;
  }
}
@media (max-width: 480px) {
  .contenedorCartas {
    grid-template-columns: 108px 108px;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
  }

  .informacion {
    display: none;
  }

  body {
    background-size: cover;
  }

  #title {
    display: none;
  }

  #minititle {
    display: block !important;
  }

  #logo {
    height: 50px;
  }

  .puntuacion {
    width: 100%;
  }

  .tablas {
    display: grid;
    height: auto;
  }

  .ranking {
    grid-column: 1/4;
    grid-row: 1;
  }

  .puntuacion {
    grid-column: 1/2;
    grid-row: 2;
  }

  .idioma {
    grid-column: 2/4;
    grid-row: 2;
  }
}
.sonido {
  display: none;
}/*# sourceMappingURL=style.css.map */